/* ================== GLOBAL ================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Barlow", system-ui, sans-serif;
    color: var(--text-color);
    background-color: var(--secondaire);
}

.wrapper {
    width: 100%;
    max-width: 72rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}