/* ================== HEADER ================== */

.header {
    position: absolute;
    inset-inline: 0;
    top: 0;
    z-index: 20;
    background: transparent;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-block: 1.25rem;
}

/* ================== BOUTON BURGER ================== */

.header__menu-btn {
    border: none;
    background: transparent;
    padding: 0;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* permet de descendre les barres */
    gap: 6px;
    padding-top: 3px;
    /* ajuste la hauteur finale des barres */
    cursor: pointer;
}

.menu-btn__bar {
    width: 22px;
    height: 2px;
    background-color: var(--text-button);
    border-radius: 2px;
}

/* Animation éventuelle du burger */
.menu-btn--open .menu-btn__bar--top {
    transform: rotate(45deg) translateY(4px);
}

.menu-btn--open .menu-btn__bar--bottom {
    transform: rotate(-45deg) translateY(-4px);
}