/* =========================================
   PAGE ARTISTES – Flying Tap Fest
   ========================================= */

.page--festival.page--artists .main--artists {
    background-color: var(--secondaire);
}

/* ---------- LISTE D'ARTISTES ---------- */

.artists-day {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 1.25rem 3.2rem;
}