/* =========================================
   PAGE PROGRAMME – Flying Tap Fest
   ========================================= */

.page--festival.page--programme .main--programme {
    background-color: var(--secondaire);
}

/* ---------- Section globale programme ---------- */

.section--programme {
    padding-top: 3rem;
    padding-bottom: 4.5rem;
}

/* ---------- Titres de journées (6 JUIN / 7 JUIN) ---------- */

.programme-day {
    margin-bottom: 3rem;
}

.programme-day__title {
    text-align: center;
    /* si tu veux comme la maquette: mets center */
    color: var(--principal);
    margin-bottom: 1.6rem;
}

/* ---------- Liste d’événements d’une journée ---------- */

.programme-day__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.programme-day__item {
    /* rien de spécial, on garde le flux */
}

/* ---------- Séparateur entre les deux jours (3 petits motifs) ---------- */

.programme__separator {
    margin: 3.2rem 0 3rem;
    display: flex;
    justify-content: center;
    gap: 1.8rem;
}

.programme__motif {
    width: 25px;
    /* plus grand qu’avant */
    height: auto;
}

/* ---------- Motif bas de section (gros 4 pétales) ---------- */

.programme__bottom-motif {
    margin-top: 3.8rem;
    display: flex;
    justify-content: center;

}

.programme__bottom-motif-img {
    width: 120px;
    height: auto;
}