/* ========== VARIABLES ========== */
@import url('./utils/variables.css');

/* ========== NORMALIZE ========== */
@import url('./vendors/normalize.css');

/* ========== BASE ========== */
@import url('./base/_global.css');
@import url('./base/typography.css');

/* ========== COMPONENTS ========== */
@import url('./components/_header.css');
@import url('./components/_menu.css');
@import url('./components/_hero.css');
@import url('./components/date.css');
@import url('./components/intro.css');
@import url('./components/nav-cards.css');
@import url('./components/partenaires.css');
@import url('./components/footer.css');

@import url('./pages/about.css');
@import url('./pages/programme.css');
@import url('./pages/artistes.css');
@import url('./pages/contact.css');
@import url('./pages/scene.css');
@import url('./pages/grandescene.css');
@import url('./pages/error.css');
@import url('./pages/infos.css');
@import url('./pages/artistetemplate.css');