/* ========== VARIABLES ========== */
@import url('./utils/variables.css');

/* ========== NORMALIZE ========== */
@import url('./vendors/normalize.css');

/* ========== BASE ========== */
@import url('./base/_global.css');

/* ========== COMPONENTS ========== */
@import url('./components/_header.css');
@import url('./components/_menu.css');
@import url('./components/_hero.css');
